priority -50

snippet fdrvs "finite dimensional real v. space" w
finite dimensional real vector space $0
endsnippet

snippet irred. "irreducible" w
irreducible $0
endsnippet

snippet red. "reducible" w
reducible $0
endsnippet
