    <script type="text/javascript">
      var btn=document.querySelector(".tex-toggle");var texfiles=document.querySelectorAll(".file-tex");function toggleTexFiles(){if(btn.innerHTML!='<span class="fa fa-check"></span>'){btn.innerHTML='<span class="fa fa-check"></span>';texfiles.forEach(function(file){file.style.display="block"})}else{btn.innerHTML="";texfiles.forEach(function(file){file.style.display="none"})}}btn.addEventListener("click",toggleTexFiles);var filterer=document.querySelector("#filterer");var courseCards=document.querySelectorAll(".course-card");function goFilter(){var str=filterer.value.toLowerCase().replace(" ","-");for(var card of courseCards){var rx=new RegExp(str,'g');if(!card.id.match(rx)){card.style.display="none"}else{card.style.display="block"}}}filterer.addEventListener("keyup",goFilter);window.onunload(function(){btn.removeEventListener("click",toggleTexFiles);filterer.removeEventListener("keyup",goFilter)});
    </script>

    <hr />

    <a href="https://github.com/edwardtufte/tufte-css" target="_blank">tufte-css</a> | 
    <a href="https://gitlab.com/japorized/TeX_notes" target="_blank">repo</a> | 
    <a href="https://japorized.ink" target="_blank">Japorized</a> | 
    <a href="{{ site.baseurl }}/faq.html">FAQ</a> | 
    <a href="{{ site.baseurl }}/sitemap.html">Sitemap</a> |
    <a href="{{ site.baseurl }}/license.html">License</a> | 
    Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }} |
    <span>Last updated: {{ page.path | prepend: '/' | prepend: site.source | file_date | date: "%Y %B %d %R" }}</span>
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>

