{% include head.html %}
<article>
  <h1>Japorized's LaTeX Notes</h1>
  <div class="project-current-info">
    <a href="https://gitlab.com/japorized/TeX_notes/builds">
      <img alt="GitLab pipeline" src="https://img.shields.io/gitlab/pipeline/japorized/TeX_notes?style=for-the-badge" />
    </a>
  </div>
  <span class="subtitle">Last updated: {{ page.url | prepend: "/" | prepend: site.source | file_date | date: "%Y %B %d %R GMT:%z" }}</span>
  <!-- <span class="subtitle">Last updated: {{ page.last_modified_at | date: "%Y %B %d %R" }}</span> -->
  <noscript><p>Enable JS to toggle .tex files and search</p></noscript>

  <div class="controls-container">
    <div class="filter-control"><input id="filterer" type="text" name="filterer" placeholder="Search" /></div>
    <div class="texfile-control"><div class="tex-toggle"></div> Show .tex files</div>
  </div>

  <section id="files">
    {% for file in site.data.files %}
      <div class="course-card" id="{{ file.title | replace: " ", "-" | downcase }}">
        <h2>{{ file.title }}</h2>
        <div class="course-files">
          {% for pdf in file.pdf %}
          <div class="course-file file-pdf" id="{{ file.title | replace: " ", "-" | downcase }}_{{ pdf.title | replace: ".", "-" | downcase }}">
            <a href="{{ pdf.src }}" target="_blank">
              <span class="fas fa-file-pdf"></span><br />
              {{ pdf.title }}<br />
            </a>
          </div>
          {% endfor %}
          {% for tex in file.tex %}
          <div class="course-file file-tex">
            <a href="{{ tex.src }}" target="_blank">
              <span class="fas fa-align-left"></span><br />
              {{ tex.title }}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </section>
</article>
{% include footer.html %}
